{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bonsai Paradise</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <!--Linking external css file.-->
    <!--Google fonts link.-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;1,200&display=swap"
      rel="stylesheet" />
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;1,200&display=swap");
    </style>
  </head>
  </head>
  <body>
    <div style="background: whitesmoke" class="header">
      <!--This is the header section container-->
      <div class="container">
        <div class="navbar">
          <div class="logo">
            <img class="logo" src="{% static 'images/logo.png'%}" width="125px" />
          </div>
          <nav>
            <ul>
              <li><a href="home">Home</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li class="nav-item dropdown">
                <!-- Dropdown button with options -->
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  User Type
                </a>
                <!-- Dropdown menu -->
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="login">Admin</a>
                  <a class="dropdown-item" href="#">Customer</a>
                </div>
              </li>
              <li><a href="Feedback.html">Feedback</a></li>
            </ul>
          </nav>
          <img src="{% static 'images/cart3.png' %}" width="50px" height="50px" />
        </div>
      </div>
    </div>

    <div class="catagories">
      <h2 style="background: burlywood" class="title">Products</h2>
      <div class="container-1">
        <div class="row">
          <div class="c-2">
            <img src="{%static 'images/tre3i.jpg'%}" />
            <h4>Fruit Bonsai</h4>
            <p>
              Create an orchid in your room.<br /><b>Price:</b><s>$90</s>$80
            </p>
          </div>
          <div class="c-2">
            <img src="{% static 'images/tre1.webp' %}" />
            <h4>Bonsai Art</h4>
            <p>
              Beautiful bonsai created by our artists.<br /><b>Price:</b
              ><s>$95</s>$77
            </p>
          </div>
          <div class="c-2">
            <img src="{% static 'images/tre2.jpg' %}" />
            <h4>Bonsai Art</h4>
            <p>
              Beautiful bonsai created by our artists.<br /><b>Price:</b
              ><s>$355</s>$200
            </p>
          </div>
          <div class="c-2">
            <img src="{%static 'images/tre4.jpeg' %}" />
            <h4>Outdoor Bonsai</h4>
            <p>Make your place beautiful.<br /><b>Price:</b><s>$205</s>$110</p>
          </div>
          <div class="c-2">
            <img src="{% static 'images/tre5.jpg'%}" />
            <h4>Mini Bonsai</h4>
            <p>
              Small and beautiful collection for your home.<br /><b>Price:</b
              ><s>$190</s>$80
            </p>
          </div>
          <div class="c-2">
            <img src="{% static 'images/tre6.jpg' %}" />
            <h4>Bonsai Tree</h4>
            <p>
              A well maintained bonsai for your well maintained home.<br /><b
                >Price:</b
              ><s>$240</s>$180
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--Footer Section-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="f1">
            <img class="logo" src="{% static 'images/logo.png'%}" width="100px" />
            <p>Providing excellence with <br />technoogy</p>
          </div>
          <div class="f2">
            <h3>Contact Us</h3>
            <p>
              Whatsapp <br />+977 9800000000<br />
              email<br />
              bonsaiInfo@gmail.com
            </p>
          </div>
          <div class="f3">
            <h3>Useful links</h3>
            <ul>
              <li>Policy</li>
              <li>Affiliate</li>
              <li>Enquiry</li>
            </ul>
          </div>
          <div class="f4">
            <h3>Follow Us</h3>
            <ul>
              <li>Facebook</li>
              <li>Instagram</li>
              <li>Discord</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>
