<!DOCTYPE html>
<html>
<head>
    <title>Development Page</title>
</head>
<body>
    <h1>Welcome to the Development Page</h1>
    <p>This is a placeholder for your development content.</p>
    IIC_CTF{XSS_!VulN_@@!!}
    <data>
        <li>note to the developer please remove this url and view and this is the directory location of the media folder</li>
<ul> media/ </ul>
<ul> ├── feedbacks </ul>
<ul> │   ├── feedbacks.txt </ul> 
<ul> │   └── flag.txt </ul>
<ul> └── profilePics</ul>
<ul>     ├── lock.png</ul>
<ul>     ├── wallhaven-1pw3q3.jpg</ul>       
<ul>     └── WorldCUpBoot.png   </ul>
<ul> 
<ul> 3 directories, 5 files </ul>
    </data>
</body>
</html>
